.detatalleCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
}
.nombre,h3 {
    color: black;
}
.carritoflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}
.imgCarrito {
    margin-top: 20px;
}
.linkVolver {
    display: flex;
    justify-content: center;
    color: #FFC800;
}
